<div class='container'>
  <div id="content">
    <div class="row">
      <div class="col-md-9">
        <div class="jumbotron">
          <h1>Add a form to your site</h1>
          <p>
            Simple Form allows you to add a contact form to your websites easily.
          </p>
          <p class="lead">
            Number of users: <em>995</em>,
            Number of messages served: <em>24172</em>
          </p>

          <form accept-charset="UTF-8" action="/users" class="form-inline" method="post" role="form">
            <input class="form-control" name="email" placeholder="Email" size="30" style="width:70%;" type="text" />
            <button type='submit' class='btn btn-primary'>Send me a token</button>
          </form>
        </div>
      </div>
      <div class="col-md-3">
        <a href='http://getsimplesite.com' title='Build awesome websites'>
          <h2>Simple Site</h2>
          <p class="lead">
            Build awesome websites
          </p>
        </a>
        <a class="btn btn-lg btn-default" href='http://getsimplesite.com' title='Build awesome websites'>
          Sign up now!
        </a>
      </div>
    </div>

    <p class='text-center'>
      <a href='/demo' class='btn btn-success btn-lg'>Try out the demo form</a>
    </p>

    <h2>What is Simple Form?</h2>
    <p class='lead'>Simple Form allows you to setup forms with any kind of data (including file uploads) in 1 easy step.</p>

    <h2>F.A.Q.</h2>
    <ol>
      <li>
        <h3>How secure is simpleform? Can't people use the api token from my site and view my messages?</h3>
        Simpleform uses two api tokens, one called the 'form_api_token' which is a public token and the other
        called the 'api_token' which is a private token and is visible only to you, you need this private token
        to view all the messages. A user cannot use the public token to view your messages.
      </li>
    </ol>


  </div>
</div>
