<!DOCTYPE html>
<html>
  <head>
    <title>Simple Form - Build simple web forms</title>
    <!--TODO add meta-->
    <link href="http://a1.cosmicvent.net/static/bs3/superhero/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
      .page-header{margin-top:0;}
      #footer{ padding-top: 50px; }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="navbar navbar-default navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Simple Form</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/demo">Demo</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="http://blog.getsimpleform.com/">Blog</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li><a class='navbar-brand' title='Make a great website!' href="http://getsimplesite.com/">Simple Site</a></li>
          </ul>
        </div>
      </div>
    </div>

    {{.}}

    <div id=footer class="container">
      <div class=row>
        <div class='col-md-6'>
          © 2012-2014
          <a href="/" title='Simple Form - Build simple web forms'>Simple Form</a> built by
          <a title='Cosmicvent Software - We build awesome web apps.' href="http://cosmicvent.com/">Cosmicvent Software</a>
        </div>
        <div class='col-md-6 pull-right text-right text-muted'>
          <a href="/contact" target="_blank">Send feedback</a>
          V2014.04.08.f449131
        </div>
      </div>

      <div>
        <span style="color:#41146b;font-size:140%">■</span>&nbsp;<a title="Make a great website easily" href="http://getsimplesite.com">getsimplesite.com</a>&nbsp;
        <span style="color:#607848;font-size:140%">■</span>&nbsp;<a href="http://redirectapp.com" title='Easy url redirection for your websites - Redirect App'>redirectapp.com</a>&nbsp;
        <span style="color:#0074CC;font-size:140%">■</span>&nbsp;<a href="http://blog.getsimpleform.com" title='The Simple Form Blog - Build simple web forms'>blog.getsimpleform.com</a>&nbsp;
      </div>
    </div>


  </body>
</html>

